{% extends "network/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<aside class="profile-card inner-shadow">            
        <div class="little-banner inner-shadow">
            <img src="{{ profile.banner }}" alt="">
        </div>   
        <div class="user">
            <div title="Logged as @{{ profile.user }}" class="avatar">
                <a class="nav-link" href="{% url 'profile' profile.user %}">
                    <img src="{{ profile.avatar }}" alt=""> 
                </a>    
            </div> 
            <a class="nav-link" href="{% url 'profile' profile.user %}">
                <h4>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h4>
            </a>     
            <p class="alias resetter">@{{ request.user }}</p> 
        </div> 
        <p class="bio">'{{ profile.bio }}'</p> 
        <div class="card-footer">
            <div class="card-footer-a">
                <p>Followers</p>
                <h3>{{ profile.follower.count }}</h3>
            </div>
            <div class="card-footer-b">
                <p>Following</p>
                <h3>{{ profile.following.count }}</h3>
            </div>    
        </div>
</aside>


<!-- Show posting form and all posts below: -->
<div class="posts-wrapper">
    <!-- Show all posts: -->
    {% for post in posts %}        
            <article class="all-posts inner-shadow" id="comment-{{post.id}}">
                <figure class="post-avatar">
                    <div title="@{{ post.user }}" class="little-avatar">
                        <!-- Only logged users can click in user's avatar as link to their profile: -->
                        <a class="nav-link" href="{% url 'profile' post.user %}">
                            <img src="{{ post.profile.avatar }}" alt="" />
                        </a>    
                    </div>
                </figure>
                <div class="posted">
                    <div class="user-name">
                        <h4>
                            {{ post.user.first_name|capfirst }} {{ post.user.last_name|capfirst }}
                        </h4>
                        <p>@{{ post.user }}</p>
                    </div>
                    <small class="alias">Created {{ post.time|naturaltime }}</small>
                    <!-- Show the post body and hide it the editView till click on Edit -->
                    <div id="postView-{{post.id}}" class="comment-body">
                        <p style="margin: 0;">{{ post.comment }}</p>
                    </div>    
                    <div id="editView-{{post.id}}" class="edit-box" style="display: none;">
                        <textarea class="my-form" id="content-{{post.id}}" rows="5" data-id="{{post.id}}">{{ post.comment }}</textarea>
                        <div>
                            <button id="save-{{post.id}}" value="save" class="button">Save</button>
                            <button id="cancel-{{post.id}}" class="button">Cancel</button>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="actions">
                            <!-- If the logged user is the same who created the post will be able to see the number of Likes, edit and delete posts: -->     
                            {% if request.user == post.user %}  
                                <p id="likePost" style="margin: 0;">
                                    <span class="lnr lnr-thumbs-up" style="cursor: auto;"></span>
                                    {{ post.like.count }}
                                </p>  
                                <a class="edit" id="editButton-{{post.id}}" data-id="{{post.id}}" title="Edit Post"> 
                                    <span class="lnr lnr-pencil"></span>
                                </a>
                                <a class="delete" id="deletePost-{{post.id}}" data-id="{{post.id}}" title="Delete Post"> 
                                    <span class="lnr lnr-trash"></span>
                                </a>
                            {% else %}                           
                                <!-- If the logged user clicks Like on posts from other people, the icon becomes turquoise. It is not possible to click Like on own posts. -->
                                {% if request.user in post.like.all %}
                                    <div class="like-box" title="Unlike">
                                        <a class="unlike clickLike turq" data-id="{{post.id}}" id="unlikePost-{{post.id}}">
                                            <span class="lnr lnr-thumbs-up"></span>
                                        </a>
                                        <p id="postLikes-{{post.id}}" class="postLikes">
                                            {{ post.like.count }}
                                        </p>    
                                    </div>       
                                {% else %} 
                                    <div class="like-box" title="Like"> 
                                        <a class="like" data-id="{{post.id}}" id="likePost-{{post.id}}">
                                            <span class="lnr lnr-thumbs-up"></span>
                                        </a>
                                        <p id="postLikes-{{post.id}}" class="postLikes">
                                            {{ post.like.count }}
                                        </p>
                                    </div>     
                                {% endif %}
                            {% endif %}                      
                        </div>
                    {% endif %}    
                </div>
            </article>  
    {% endfor %}
</div>

<div class="paginator-box">
    <div class="pagination inner-shadow">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}   
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}     
    </div>
</div>


<!-- Show users who are not in the following list -->
<aside class="may-know-card inner-shadow">
    <h3>Find more people who paint people:</h3>
    {% for not_followed in allProfiles %}
        {% if not not_followed in userFollow and not not_followed.user == user %}
            <div class="not-followed">    
                <figure class="post-avatar">
                    <div title="@{{ not_followed }}" class="little-avatar">
                        <a href="{% url 'profile' not_followed %}">
                            <img src="{{ not_followed.avatar }}" alt="" />                   
                        </a>    
                    </div>
                </figure>
                <div class="user-name">
                    <a href="{% url 'profile' not_followed %}">
                        <h4>
                            {{ not_followed.user.first_name|capfirst }} {{ not_followed.user.last_name|capfirst }}
                        </h4>
                    </a>    
                        <small class="gray">@{{ not_followed }}</small>
                        <br>
                        <small>'{{ not_followed.bio }}'</small>
                </div>            
            </div>    
        {% endif %}
    {% endfor %}
    <!-- <div class="little-banner">
        <figure>
            <img src="../../static/Images/Logo_PWPP_column.svg" alt="logo" />
        </figure>
    </div> -->
</aside>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}